{
  "CN": "{{ item.san[0] }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
  {
    "C":  "GB",
    "ST": "Surrey",
    "L":  "Camberley",
    "O":  "CylCerts",
    "OU": "Security"
  }],
  "Hosts": [
    {% for san in item.san -%}
    "{{san}}"{{ "," if not loop.last else "" }}
    {% endfor %}
]
}