{
  "CN": "CylCerts Intermediate CA",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C":  "GB",
      "ST": "Surrey",
      "L":  "Camberley",
      "O":  "CylCerts",
      "OU": "Security"
    }
  ],
  "ca": {
    "expiry": "42720h"
  }
}