{
  "CN": "CylCerts Root CA",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "C": "GB",
      "ST": "Surrey",
      "L": "Camberley",
      "O": "CylCerts",
      "OU": "Security"
    }
  ]
}